.content {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: flex-start;
    /* Align items to the start */
    margin: 20px;
    margin-left: 30px;
}

.card {
    height: 150px;
    padding: 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.green {
    background-color: rgba(24, 204, 24, 0.73);
}

.blue {
    background-color: rgba(20, 147, 197, 0.849);
}

.yellow {
    background-color: rgba(227, 227, 29, 0.668);
}

.red {
    background-color: rgb(237, 95, 19);
}

.black {
    background-color: rgb(29, 28, 28);
}

.balance {
    width: 300px;
}

.content p {
    font-size: 25px;
}

.card:not(.balance) {
    width: 150px;
}

.forms-container {
    display: flex;
    flex-direction: column;
    /* Stack forms vertically */
    width: 100%;
    gap: 30px;
    margin-top: 20px;
    /* Add spacing between cards and forms */
}

/* Radio Buttons and Categories */
.categories {
    display: flex;
    gap: 15px;
}

.categories label {
    font-size: 0.9rem;
    color: #444;
    display: flex;
    align-items: center;
}

.categories input[type="radio"] {
    margin-right: 8px;
}

.form-add-money {
    background-color: rgb(249, 249, 249);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px;
    padding: 20px;
}

.form-add-transaction {
    background-color: rgb(249, 249, 249);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px;
    padding: 20px;
}

/* Submit Button */
.submit-button {
    background-color: rgba(20, 147, 197, 0.849);
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 1rem;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-button:hover {
    background-color: rgba(14, 114, 154, 0.849);
}

.transaction-table table {
    width: 90%;
    border-collapse: collapse;
    table-layout: fixed;
    border: 1px solid #ddd;
    margin-left: auto;
}

.transaction-table th,
.transaction-table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    word-wrap: break-word;
}

.transaction-table th {
    background-color: #f4f4f4;
}

.transaction-table tr:hover {
    background-color: #f1f1f1;
}

.transaction-table h2 {
    text-align: center;
}

/* Responsive Design */
@media (max-width: 768px) {
    .categories {
        gap: 10px;
    }

    .card {
        width: 100%;
        max-width: 200px;
    }

    .content {
        margin-top: 80px;
    }

    .forms-container {
        gap: 20px;
    }
}