.container {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    font-family: Arial, sans-serif;
}

body {
    background-color: #f0f0f0;
}

.login-signup-container {
    display: flex;
    max-width: 800px;
    background-color: #fff;
    border-radius: 5%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.left-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 20px 0 20px;
}

.login-image {
    width: 100%;
}

.right-section {
    padding: 0 30px 30px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-wrapper {
    text-align: center;
}

h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input {
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.submit-btn,
.toggle-btn {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.toggle-btn {
    background-color: #6c757d;
    margin-top: 10px;
}

.submit-btn:hover,
.toggle-btn:hover {
    background-color: #0056b3;
}

@media(max-width:600px) {
    .login-signup-container {
        display: flex;
        flex-direction: column;
        border-radius: 0;
    }
}